.scroll-pane {
    -fx-background-color: white;
    -fx-border-color: black;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: #b2ffb2;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: white;
}

.combo-box {
    -fx-border-color: black;
    -fx-background-color: none;
    -fx-font-size: 12;
}

.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-font-family: 'Courier New';
    -fx-font-size: 13;
}
